<template>
  <div class="mt-5 pt-3">
    <div class="row">
      <div class="col-md-12 text-left d-inline-flex align-center">
        <img src="@/assets/images/logo.png" style="max-width: 250px"/>
        <p class="colorWhite ml-5" v-if="currentLang === 'en'">
          {{aboutUs.aboutUs_en}}
        </p>
        <p class="colorWhite ml-5" v-if="currentLang === 'mk'">
          {{aboutUs.aboutUs_mk}}
        </p>
      </div>
    </div>
    <div class="team">
    <div class="row text-left">
      <div class="col-md-12 col-xs-12 profile">
        <img src="@/assets/images/Veronika.svg"/><br/>
        <span class="text-left colorWhite" style="max-width: 250px">{{currentLang === 'en' ? 'Veronika Kamchevska' :
          'Вероника Камчевска'}}</span>
      </div>
    </div>
    <div class="row text-right">
      <div class="col-md-12 col-xs-12 profile">
        <img src="@/assets/images/Vlatko.svg"/><br/>
        <span class="text-right colorWhite" style="max-width: 250px">{{currentLang === 'en' ?
          'Vlatko Chalovski' :
          'Влатко Чаловски'}}</span>
      </div>
    </div>
    <div class="row text-left">
      <div class="col-md-12 col-xs-12 profile">
        <img src="@/assets/images/Darko.svg" /><br/>
        <span class="text-left colorWhite" style="max-width: 250px">{{currentLang === 'en' ? 'Darko Komnenovikj' :
          'Дарко Комненовиќ'}}</span>
      </div>
    </div>
    <div class="row text-right">
      <div class="col-md-12 col-xs-12 profile">
        <img src="@/assets/images/Bojan.svg"/><br/>
        <span class="text-right colorWhite" style="max-width: 250px">{{currentLang === 'en' ? 'Bojan Kocevski' :
          'Бојан Коцевски'}}</span>
      </div>
    </div>
      <div class="row text-center">
        <div class="col-md-12 col-xs-12 colorWhite">
          Contact: <a href="mailto:contact@covidmembrance.com">contact@covidmembrance.com</a>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" src="./AboutUs.component.ts"/>
<style lang="scss">
.colorWhite {
  color: white;
}
.profile {
  display: table;
  img {
    max-width: 200px;
  }
}
.team {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
</style>
