<template>
  <div class="mt-5 pt-3">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <ul class="nav nav-tabs pl-5 pr-5">
          <li class="nav-item">
            <a :class="{'nav-link': true, 'active': currentTab === 'myVideos'}" id="myVideos-tab" data-toggle="tab"
               href="#myVideos" role="tab" aria-controls="myVideos" aria-selected="true">{{$t('labels.myVideos')}}</a>
          </li>
          <li class="nav-item">
            <a :class="{'nav-link': true, 'active': currentTab === 'inMyWords'}" id="inMyWords-tab" data-toggle="tab"
               href="#inMyWords" role="tab" aria-controls="inMyWords" aria-selected="true">{{$t('labels.inMyWords')}}</a>
          </li>
        </ul>
        <div class="tab-content text-left p-5">
          <div :class="{'tab-pane': true, 'active': currentTab === 'myVideos'}" id="myVideos" role="tabpanel"
               aria-labelledby="myVideos-tab">
            <div class="videoHolder">
              <div class="videoItem" v-for="(item, ind) in myVideos" :key="ind">
                <span class="videoTitle">{{item.name}}</span>
                <div v-html="item.source" v-if="currentLang === 'en'"></div>
                <div v-html="item.source_mk" v-if="currentLang === 'mk'"></div>
              </div>
            </div>
          </div>
          <div :class="{'tab-pane': true, 'active': currentTab === 'inMyWords'}" id="inMyWords" role="tabpanel"
               aria-labelledby="inMyWords-tab">
            <div class="diaryHolder">
              <template v-for="(item, ind) in covidDiaryNotes">
                <div :key="ind" class="diaryItem" @click="goToDiaryDetails(item)">
                  <div class="diaryImage">
                    <img src="@/assets/images/letter.svg"/>
                    <span>{{item.letterTitle_en}}</span>
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" src="./MyStory.component.ts"/>
<style lang="scss">
.videoHolder {
  overflow-y: auto;
  width: 100%;
  justify-content: center;
  display: grid;
  align-items: center;
  position: relative;
  grid-template-areas: "videoItem videoItem videoItem";
  grid-template-columns: 33% 33% 33%;
  .videoItem {
    grid: 'videoItem';
    margin-left: 10px;
    margin-right: 10px;
    height: 350px;
    float: left;
  }
}

@media (max-width: 900px) {
  .videoHolder {
    overflow-y: auto;
    width: 100%;
    justify-content: center;
    display: grid;
    align-items: center;
    position: relative;
    grid-template-areas: "videoItem videoItem";
    grid-template-columns: 50% 50%;
    .videoItem {
      grid: 'videoItem';
      margin-left: 10px;
      margin-right: 10px;
      height: 350px;
      float: left;
    }
  }
}
@media (max-width: 600px) {
  .videoHolder {
    overflow-y: auto;
    width: 100%;
    justify-content: center;
    display: grid;
    align-items: center;
    position: relative;
    grid-template-areas: "videoItem";
    grid-template-columns: 100%;
    .videoItem {
      grid: 'videoItem';
      margin-left: 10px;
      margin-right: 10px;
      height: 350px;
      float: left;
    }
  }
}
.diaryItem {
  cursor: pointer;
  width: 100%;
  height: 300px;
  text-align: center;
  justify-content: center;
  display: flex;
  margin-bottom: 40px;
}
.diaryImage {
  position: absolute;
  span {
    top: 40px;
    position: absolute;
    left: 0;
    right: 0;
    width: 260px;
    margin: 0 auto;
  }
  img {
    width: 100%;
    height: 300px;
  }
}
@media (max-width: 600px) {
  .diaryImage {
    span {
      top: 27px;
      width: 200px;
      font-size: 14px;
    }
  }
}
.diaryHolder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
@media (max-width: 1650px) {
  .diaryHolder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
@media (max-width: 1150px) {
  .diaryImage img {
    width: 100%;
    height: 250px;
  }
}
@media (max-width: 960px) {
  .diaryImage img {
    width: 100%;
    height: 200px;
  }
}
@media (max-width: 820px) {
  .diaryImage img {
    width: 100%;
    height: 200px;
  }
  .diaryHolder {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
</style>
