<template>
  <div class="row menuHolder">
    <div class="col-md-12 pt-2 justify-content-center text-white">
      <router-link :class="{ 'fade mainMenuItem': true, 'in': showMenu }" to="/">{{$t('labels.home')}}</router-link>
<!--      <router-link :class="{ 'fade mainMenuItem': true, 'in': showMenu }" to="/depot">{{$t('labels.depot')}}</router-link>-->
      <router-link :class="{ 'fade mainMenuItem': true, 'in': showMenu }" to="/exhibition">{{$t('labels.exhibition')}}</router-link>
      <router-link :class="{ 'fade mainMenuItem': true, 'in': showMenu }" to="/myStory">{{$t('labels.myStory')}}</router-link>
      <router-link :class="{ 'fade mainMenuItem': true, 'in': showMenu }" to="/events">{{$t('labels.laboratory')}}</router-link>
      <router-link :class="{ 'fade mainMenuItem': true, 'in': showMenu }" to="/aboutUs">{{$t('labels.aboutUs')}}</router-link>
      <span :class="{ 'fade cursor-pointer': true, 'in': showMenu }" @click="changeLang('en')">{{$t('labels.en')}} | </span><span :class="{ 'fade cursor-pointer': true, 'in': showMenu }" @click="changeLang('mk')">{{$t('labels.mk')}}</span>
    </div>
    <div class="socialIcons">
      <a href="https://www.youtube.com/channel/UCcgmQzVRAQvW2Qx2Q3hCUoQ" target="_blank">
        <img src="@/assets/images/socialIcons/youtube.png">
      </a>
      <a href="https://www.facebook.com/covidmembrance" target="_blank">
        <img src="@/assets/images/socialIcons/fb.png">
      </a>
      <a href="https://twitter.com/covidmembrance" target="_blank">
        <img src="@/assets/images/socialIcons/twitter.png">
      </a>
      <a href="https://www.instagram.com/covidmembrance/" target="_blank">
        <img src="@/assets/images/socialIcons/insta.png">
      </a>
      <a href="mailto:covidmembrance@gmail.com" target="_blank">
        <img src="@/assets/images/socialIcons/mail.png">
      </a>
    </div>
  </div>
</template>
<script lang="ts" src="./mainMenu.component.ts"/>
<style lang="scss">
.menuHolder {
  z-index: 9999999;
}
.mainMenuItem{
  color: white;
  text-decoration: none;
  user-select: none;
  margin-left: 15px;
  font-size: 20px;
  margin-right: 15px;
}
.hamburger {
  position: absolute;
  right: 30px;
  top: 10px;
  z-index: 999999999;
}

.cursor-pointer {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}

.socialIcons {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  position: fixed;
  right: 10px;
  top: 0px;
  flex-direction: row;
  img {
    cursor: pointer;
    width: 32px;
    margin-left: 10px;
  }
  img:hover {
    width: 37px;
  }
}
@media (max-width: 1050px) {
  .socialIcons {
    top: 80px;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    position: fixed;
    right: 0px;
    flex-direction: column;
  }
  img {
    padding-top: 10px;
  }
}
</style>
