<template>
  <v-app id="app" class="home">
    <div style="z-index: 9999999999">
      <div class="col-md-12">
        <main-menu/>
      </div>
    </div>
    <div id='particle'>
      <div class="contentHolder">
        <router-view/>
      </div>
    </div>
    <VueParticleJs domId='particle' :config="particleConfig"/>
  </v-app>
</template>
<script src="./App.component.ts"></script>
<style lang="scss">
body, html{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: black;
}
.v-application a {
  color: white!important;;
}
.v-application a:active {
  text-decoration: none!important;
}
#app {
  width: 100%;
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: black;
  padding: 0;
  margin: 0;
}
#particle {
  position: absolute;
  width: 100%;
  height: 100%;
}
.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#nav {
  padding: 0;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.contentHolder {
  margin-top: 90px;
}
</style>
